<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nobodyknows.chatwithme">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatWithMe">
        <activity android:name=".Activities.SetuLogin"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Activities.BookVaccine" />
        <activity android:name=".Activities.Dashboard.ViewContact" />
        <activity android:name=".Activities.SyncContacts" />
        <activity android:name=".Activities.SearchFreinds" />
        <activity android:name=".Activities.Signup.CreatingSetup" />
        <activity
            android:name=".Activities.ChatRoom"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Dashboard.Dashboard" />
        </activity>
        <activity android:name=".Activities.Dashboard.AddNewChat" />
        <activity android:name=".Activities.LoginContinue" />
        <activity android:name=".Activities.Dashboard.Dashboard" />
        <activity android:name=".Activities.Signup.MobileVerification" />
        <activity android:name=".Activities.Signup.CreateUser" />
        <activity android:name=".Activities.Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>